$purple: #9C27B0;
$darkpurple: #7B1FA2;
$deepurple: #673AB7;
$darkdeepurple: #512DA8;

$accent: rgba(211,225,240,1);
$bgLight: rgba(255, 255, 255, 0.6);
$bgLightDark: rgba(255, 255, 255, 0.9);
$bgDark: rgba(0, 0, 0, 0.2);

$fg: #333;
